---
layout: default
title: About
permalink: /about/
---

{% include logo-black.html %}

<h1 class="about-page-header">Mission Statement</h1>
<p class="mission-statement">By experiencing the perspectives of others and learning from them, we combat ignorance, grow as people, and become more loving individuals.</p>


<h1 class="about-page-header">How It Works</h1>
<p class="center">The Perspective Project is an attempt to collect interesting, inspiring, and incredible true stories from the diverse and wonderful people who find themselves in Western North Carolina. I discover these stories by asking a stranger or acquantance a few questions about their lives. What do they remember most about growing up? What was their proudest moment? What is something new they've learned? I ask if I can take their portrait, and compress the conversation into a short, meaningful snippet to be shared anonymously.</p>
<p class="center">The only goal of this project is to create a body of work that exchanges perspectives, opens minds, and preserves unique tales.</p>


<h1 class="about-page-header">About Me</h1>

{% include profile.html %}

<p class="center">Hello! My name is Verle Thompson, and I am a high-school student currently living in Murphy, North Carolina. I have a passion for photography and story telling, and this project is a combination of both. This adventure has put me out of my comfort zone and helped me to understand people more fully. I highly recommend talking to someone who is different from you this week with the intention of learning something from them and seeing things from their perspective.</p>
<p class="center">If you'd like to see more of my work, visit my main website:</p>
<p class="center"><a href="https://www.thecuriousrobot.com/">The Curious Robot</a></p>