---
layout: default
title: About
permalink: /about/
---

{% include logo-black.html %}

<h1 class="about-page-header">Mission Statement</h1>
<p class="mission-statement">By experiencing the perspectives of others and learning from them, we combat ignorance, grow as people, and become more loving individuals.</p>


<h1 class="about-page-header">How It Works</h1>
<p class="center">The Perspective Project is an attempt to collect interesting, inspiring, incredible life stories from the diverse and wonderful people who live in Western North Carolina. I do this by interacting with strangers and friends and simply asking them a few questions about their lives. What are they interested in? What was their proudest moment? Where is their favorite place on the planet? I ask if I can take their portrait, and compress the interview into a short, meaningful snippet to be shared anonymously.</p>
<p class="center">I don't know where this plan will take me, but my goal right now is to exchange perspectives between people and help to share their eye-opening stories that have not yet been told.</p>


<h1 class="about-page-header">About Me</h1>

{% include profile.html %}

<p class="center">Hello! I am the Curious Robot. My name is V. Thompson, and I am a high-school student currently living in Murphy, North Carolina. I have a passion for photography and story telling, and this project is a combination of both. It has expanded my horizons as I've gathered tales from the strangers and friends around me I never would have thought to engage before. I encourage you do the same: talk to a stranger this week and learn something from them. This project has changed my life.</p>
<p class="center">If you'd like to see more of my work, visit my main website:</p>
<p class="center"><a href="https://www.thecuriousrobot.com/">The Curious Robot</a></p>