  <div class="social-icons">
	<a href="https://www.instagram.com/the_perspective_project" class="social-icon-link" id="instagram-social-icon"><img src="/assets/images/instagram-logo.png" class="social-icon-img"/></a>
	<a href="https://www.facebook.com/perspectiveprojectofnc" class="social-icon-link" id="facebook-social-icon"><img src="/assets/images/facebook-logo.png" class="social-icon-img"/></a></a>
	<a href="https://eepurl.com/c2Autn" class="social-icon-link" id="email-social-icon"><img src="/assets/images/mail-logo.png" class="social-icon-img"/></a></a>
  </div>